{% extends 'base.html.twig' %} 
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %} 
<style>
.block{
    display: block;
    width:100%;
    border:none;
    background-color: #39ace7;
    color: white;
    text-align: center;
}</style>
<div class="card" style="width: 95%; margin-left: 2.5%">

{{form_start(form)}}
<div style="margin-left: 10px">Votre nom :</div>{{form_widget(form.nom, {'attr': {'placeholder':"Nom"}})}} </br>
<div style="margin-left: 10px">Votre prénom :</div>{{form_widget(form.prenom, {'attr': {'placeholder':"Prénom"}})}}</br>
<div style="margin-left: 10px">Votre date de naissance :</div>{{form_widget(form.datenaiss, {'attr': {'placeholder':"Date de naissance"}})}}</br>
<div style="margin-left: 10px">Votre adresse :</div>{{form_widget(form.rue, {'attr': {'placeholder':"Rue"}})}}</br>
<div style="margin-left: 10px">Votre code postal :</div>{{form_widget(form.cp, {'attr': {'placeholder':"Code postal"}})}}</br>
<div style="margin-left: 10px">Votre ville :</div>{{form_widget(form.ville, {'attr': {'placeholder':"Ville"}})}}</br>
<div style="margin-left: 10px">Votre adresse mail :</div>{{form_widget(form.mail, {'attr': {'placeholder':"Adresse mail"}})}}</br>
<div style="margin-left: 10px">Votre numéro de téléphone :</div>{{form_widget(form.numtel, {'attr': {'placeholder':"Numéro de téléphone"}})}}</br>
<div style="margin-left: 10px">Votre portfolio :</div>{{form_widget(form.portfolio, {'attr': {'placeholder':"Lien vers votre portfolio"}})}}</br>
<div style="margin-left: 10px">Votre login :</div>{{form_widget(form.username, {'attr': {'placeholder':"Login"}})}}</br>
<div style="margin-left: 10px">Votre mot de passe :</div>{{form_widget(form.password, {'attr': {'placeholder':"Mot de passe"}})}}</br>
<button class="block" type="submit">S'inscrire</button>
{{ form_end(form) }}
</div>


</div>





{% endblock %}