{% extends 'base.html.twig' %}
{% block body %}

	<div class="container">
	<h1>Rechercher par ville : </h1>
		<div class="row">
			<ul>
				{% for laville in villes %}
					<a href="{{path('laville', {'ville':laville.ville}) }}" class="btn btn-outline-secondary">{{laville.ville}}
					</a>
				{% endfor %}
			</ul>
		</div>
	</div>

<div class="row row-cols-1 row-cols-md-3 g-4">

	{% for evenement in evenements %}


		<div class="col">
			<div class="card" style="width: 35rem;">
				<img src="{{hackathon.image}}" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">{{hackathon.theme}}</h5>
					<a href="{{path('details',{'id':hackathon.idH})}}" class="btn btn-outline-success">Détails</a>
					{% if hackathon.nbPlaces > 0 %}
						<a href="#" class="btn btn-outline-info">S'inscrire</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div></div>{% endblock %}
