{% extends 'base.html.twig' %}
{% block body %}

	<div class="container">
		<h1>Rechercher par ville :
		</h1>
		<div class="row">
			<ul>
				{% for laville in villes %}
					<a href="{{path('laville', {'ville':laville.ville}) }}" class="btn btn-outline-secondary">{{laville.ville}}
					</a>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="row row-cols-1 row-cols-md-3 g-4">

		{% for hackathon in hackathons %}


			<div class="col">
				<div class="card" style="width: 35rem;">
					<img src="{{hackathon.image}}" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">{{hackathon.theme}}</h5>
						<a href="{{path('details',{'id':hackathon.idH})}}" class="btn btn-outline-success">Détails</a>
						{% if hackathon.nbPlaces > 0 %}
							<a class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">S'inscrire</a>
						{% endif %}
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLongTitle">S'inscrire au hackathon</h5>
										</div>
										<div class="modal-body"></div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary">Save changes</button>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLongTitle">Avant de s'inscrire...</h5>
										</div>
										<div class="modal-body">
											Voulez-vous vous
											<a class="btn btn-primary" href="{{ path('security_login') }}">CONNECTER</a>
											ou vous
											<a class="btn btn-success" href="{{ path('security_inscription') }}">INSCRIRE</a>
											?</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
