{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}

	<center><h1>Mon Tableau de Bord
	</h1></center>


	<div class="card">
		<div class="card-header">
			Mes informations personnelles
		</div>
		<div class="card-body">
			<blockquote class="blockquote mb-0">
				<p>
		Nom : {{app.user.nom}}</br>
		Prénom : {{app.user.prenom}}</br>
		Date de naissance : {{app.user.dateNaiss|date("d/m/Y")}}</br>
      	Adresse : {{app.user.rue}}, {{app.user.cp}} {{app.user.ville}}</br>
		Mail : {{app.user.mail}}</br>
		Numéro de téléphone : {{app.user.numTel}}</br>
		Adresse de portfolio : {{app.user.portfolio}}</br>
</div></p>
			</blockquote>
		</div>
	</div>

	<div class="card">
		<div class="card-header">
			Mes favoris
		</div>
		<div class="card-body">
				<p>	<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top :2%">

		{% for fav in favs %}

			<div class="col">

				<div class="card" style="width: 35rem;">
					<img src="{{fav.idHackatFav.image}}" class="card-img-top">
					<div class="card-body">
						<h3 class="card-title">{{fav.idHackatFav.theme}}</h3>
						<h4 class="card-text">{{fav.idHackatFav.lieu}}
							{{fav.idHackatFav.rue}}
						</h4>
						<h4 class="card-text">{{fav.idHackatFav.codePostal}}
							{{fav.idHackatFav.ville}}</h4>
							<form action="{{path('deleteFav', {'idP':app.user.idp, 'idF':fav.idF})}}" method="POST" onSubmit="return(confirm('Voulez-vous vraiment supprimer ce favori ?'))">
								<input type="hidden" name="_method" value="DELETE">
								<input type="submit" class="btn btn-outline-danger" value="Supprimer">
							</form>
					</div>
				</div>
			</div>
		{% endfor %}
	</div></p>
		</div>
	</div>


{% endblock %}
